@page
@model RPCAuthenticationSystem.Pages.Users.CreateModel

@{
	ViewData["Title"] = "Create";
}

<h1>Register</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="User.Username" class="control-label"></label>
				<input asp-for="User.Username" class="form-control" />
				<span asp-validation-for="VerifyUsername" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" id="passw" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
			</div>
			 <div class="form-group">
                <label>Verify Password</label>
                <input asp-for="VerifyPassword" class="form-control" id="conf-passw" />
                <span class="text-danger"></span>
            </div>
			<div class="form-group">
				<label asp-for="User.BirthDate" class="control-label"></label>
				<input asp-for="User.BirthDate" class="form-control" />
				<span asp-validation-for="User.BirthDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="User.FirstName" class="control-label"></label>
				<input asp-for="User.FirstName" class="form-control" />
				<span asp-validation-for="User.FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="User.LastName" class="control-label"></label>
				<input asp-for="User.LastName" class="form-control" />
				<span asp-validation-for="User.LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-success" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="Index/..">Back</a>
</div>

@section Scripts {
    @{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");

		<script>function VerifyPassword() {
            let password = document.getElementById("passw").value;
            let cnfrmPassword = document.getElementById("conf-passw").value;
            if (cnfrmPassword.length != 0) {
                if (password != cnfrmPassword)
                    alert("Password don't match!");
            } else
                alert("Password can't be empty!");
        }</script>
	}
}
