@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	<p><a asp-page="Users/Create" class="btn btn-primary">Sign Up</a><p>
	<p><a asp-page="Create" class="btn btn-primary">Sign In</a></p>

</div>
